body{
    background-image: url(https://images.pexels.com/photos/1097930/pexels-photo-1097930.jpeg?cs=srgb&dl=pexels-jess-bailey-designs-1097930.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

p{
    font-size: 15px;
}

h1{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 20px;

}

h1, h2, h3{
    text-align: center;
}

hr{
    height: 2px;
    background-color: black;
    border-color: black;

}

.bottom-line{
    margin-top: 25px;
}

h1, h2{
    font-family: Impact, serif;
}

.back-site{
    width: 80%;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 80%;
}