body{
    background-image: url(https://www.pexels.com/photo/brown-paper-clips-1097930/);
}

h1{

}

h2{

}

h3{

}

h1, h2, h3{
    text-align: center;
}

hr{
    height: 2px;
    background-color: black;
    border-color: black;

}